.card-title{
    height: 30px;
    font-size: 1rem !important;
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-subtitle{
    font-size: 0.7rem !important;
}
.card__description {
    position: relative;
    height: 3.6em;  /* adjust this value to change the number of lines */
    line-height: 1.2em;
    overflow: hidden;
    font-size: 0.7rem !important;
  }
  
.card__description p {
    margin: 0;
}
  
.fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;  /* this should be roughly 2x the line-height */
    background: linear-gradient(to top, white, transparent);
}
.card__image{
    width: 80% !important;
    height: 200px;
    padding: 15px 10px;
    margin: 0 auto;
}
.card__button{
    width: 100%;
    background-color: var(--green) !important;
    border: 1px solid var(--light-green) !important;
    padding: 2px 0 !important;
}
.heart-icon{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
}